@CHARSET "UTF-8";

.container {
	width:900px;
	height: auto;
	background-color: white;
	margin: 0 auto;
	overflow: hidden;
	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}


/* header */
.header {
	background-color: white;
	
}

.header #title {
font-size: 60px;
color: #ea6f23;
}

.header #image {
}

.header #container {
margin: 0 auto;
width: 50%;
}

/* body */
.body {
	background-color: white;	
	height: auto;
	width: auto;
}

.body #image {
	
	
}


.body #loginform {
margin-top: 10px;
padding: 5px 20px 10px 10px;
width: 450px;
margin: 0 auto;
width: 50%;
background-color: white;
}

.body #loginform #status {
color: red;
}


.body #loginform #loginformline {
width: auto;
}

/* footer */
.footer {
	
	height: 50px;
	padding-top: 50px;
	padding-bottom: 30px;
	width: auto;
	margin: 0 auto;
	width:50%;
	
}

.footer #footertext {
	font-size: 12px;	
	text-align: center;
}
 